<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"

       xsi:schemaLocation="
	    http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!--配置sping 公共部分 -->
    <!-- 1.开启注解自动扫描 -->
    <context:annotation-config />
    <context:component-scan base-package="com.wsd.*" />
    <!-- end -->

    <!--2.加载properties配置文件 -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:db-resources.properties</value>
            </list>
        </property>
    </bean>
    <!-- end -->

    <!-- 3.创建一个带连接池的dataSource -->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.LazyConnectionDataSourceProxy">
        <property name="targetDataSource">
            <bean class="org.logicalcobwebs.proxool.ProxoolDataSource">
                <property name="driver" value="${db.driver.class}" />
                <property name="driverUrl" value="${db.url}" />
                <property name="user" value="${db.username}" />
                <property name="password" value="${db.password}" />
                <property name="maximumConnectionCount" value="${proxool.maxConnCount}" />
                <property name="minimumConnectionCount" value="${proxool.minConnCount}" />
                <property name="statistics" value="${proxool.statistics}" />
                <property name="simultaneousBuildThrottle" value="${proxool.simultaneousBuildThrottle}" />
                <property name="trace" value="${proxool.trace}" />
            </bean>
        </property>
    </bean>
    <!-- end -->

    <!-- 4.配置事务管理器 -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
    </bean>
    <!-- end -->

    <!--5.开启注解事务，指定事务管理器 -->
    <tx:annotation-driven transaction-manager="transactionManager" />
    <!-- end -->
    <!-- 配置sping 公共部分 end -->

    <!-- 配置mybatis -->
    <!-- 6.MyBatis Mapper接口所在包名，Spring会自动查找其下的类 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
        <!-- MyBatis DAO接口所在包名，basePackage指定的包下面的类会自动查找 -->
        <property name="basePackage" value="com.wsd.dao" />
    </bean>
    <!-- end -->

    <!-- 7.配置sqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <!-- 指定mybatis的配置文件的路径 -->
        <!-- <property name="configLocation" value="classpath:mybatis-config.xml"></property> -->
        <property name="mapperLocations" value="classpath*:mappers/*.xml"></property>
        <property name="typeAliasesPackage" value="com.wsd.model" />
        <!--8. 配置pageHelper插件 -->
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageHelper">
                    <property name="properties">
                        <value>
                            dialect=mysql
                        </value>
                    </property>
                </bean>
            </array>
        </property>
        <!-- end -->
    </bean>
    <!-- end -->
    <!-- 配置mybatis end -->

</beans>